<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="CodeTemplate" CompilerVersion="v3.5" %>

<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.Xamples" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.Xamples" %>
<%@ Import Namespace="SchemaExplorer" %> 

Tables in the collection: <%= Collection.ToString() %>

Items:
<% foreach (ColumnConfiguration item in Collection.Columns) { %>
    <%= item.ToString() %>
<% } %>

<script runat="template">

private ColumnConfigurationCollection _collection;

[DefaultValue(null)]
[Description("Collection of column configurations")]
public ColumnConfigurationCollection Collection {
    get { 
        if (_collection == null) {
            _collection = new ColumnConfigurationCollection();
        }
        return _collection;
    }
    set { _collection = value; }
}

</script>
